* {
  text-align: center; /*hela webbsidan är centrerad*/
}
body {
  width: 960px; /*bredd av body-element*/
  margin: 0 auto; /*automatisk beräkning av utrymmet omkring body-element*/
  background-color: rgb(
    250,
    250,
    243
  ); /*färgen i bakgrunden med grundfärgerna*/
}
header {
  background-image: url("../images/banner_jeison_higuita_unsplash.jpg"); /*bild i bakgrunden i header, som är en graffiti-bild från muren*/
  height: 200px; /*bestämma storleken av bilden*/
  background-position: center; /*bestämma position av bilden*/
  background-repeat: no-repeat; /*när bilden är för liten repetera programmet det automatiskt, men ja vill inte det*/
  position: relative; /*placera skrift*/
}
.header_text {
  text-align: center; /*bestämma position av texten i header*/
  position: absolute; /*position är relativ med den föräldrar element*/
  top: 50%; /*position från toppen av bilden*/
  left: 50%; /*position från vänster sida av bilden*/
  transform: translate(-50%, -50%); /*centrera bilden i exakt mitten av header*/
  color: white; /*färgen av skrift*/
}
.content {
  overflow: auto; /*adds a scrollbar automatically when necessary*/
}
h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /*teckensnitt*/
  text-align: center; /*centrerad rubrik*/
  font-size: 400%; /*storlek av rubrik*/
}
nav {
  font-family: "Courier New", Courier, monospace; /*teckensnitt*/
  font-weight: bold; /*fet skrift*/
}
ul {
  list-style-type: none; /*utan punkter*/
  margin-top: 0; /*utrymme till annat element*/
  overflow: hidden; /*ingen overflow mellan listitems*/
  background-color: #333333; /*färgen i backgrunden*/
}
li {
  display: inline-block; /*horizontal navigation*/
  text-align: center; /*placera skrift i mitten*/
  padding: 20px; /*plats mellan länkar*/
  margin-right: 16px; /*utrymme till höger sidan*/
  font-size: 20px; /*storlek av listitems*/
}
li:hover {
  background-color: #111111; /*färgen förändras när man skrollar över*/
}
.menu {
  color: white; /*skriftsfärgen som stannar vit*/
  text-decoration: none; /*inte understrykat*/
}
h6 {
  visibility: hidden;
}
section {
  float: left; /*float-left justera bilder till vänster sidan*/
  display: inline; /*horizontal layout, display behaviour, inline-block: allows to set a width and height*/
  width: 48%; /*width of the feature-element*/
  margin-bottom: 2%; /*utrymme till botten*/
  margin-top: -50px; /*utrymme till toppen av elementet*/
}
#mainpicture {
  width: 100%; /*tar helt utrymme av column-element*/
}
#introduktion {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /*teckensnitt*/
  text-align: justify; /*breda ut skrift till båda sidor*/
  margin-left: 4%; /*utrymme till vänster*/
  margin-top: 40px;
  font-size: 15px;
}
#popular {
  color: black; /*skriftsfärg*/
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /*teckensnitt*/
  font-weight: bold; /*fet skrift*/
  font-size: 20px; /*storleken av skrift*/
  margin-bottom: 30px; /*utrymme till bottens nästa element*/
  margin-top: 10px; /*utrymme till toppens nästa element*/
}
article {
  display: inline-block; /*horizontal layout, display behaviour, inline-block: allows to set a width and height*/
  width: 220px; /*bredd av article-element*/
  margin: 5px; /*utrymme mellan article-element*/
  margin-top: -60px;
}
article:hover {
  opacity: 0.8; /*bilden blir mer transparent när man skrollar över*/
}
.article_text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /*teckensnitt*/
  font-size: 15px; /*skriftsstorlek*/
  margin-top: 7px; /*utrymme till toppens nästa element*/
  margin-bottom: 30px; /*utrymme till bottens nästa element*/
  color: black; /*förändra inte färgen när man skrollar över*/
}
footer {
  background-color: #333333; /*färgen i bakgrundet*/
  padding: 5px; /*utrymme till alla sidor av column-elementet*/
}
#footer_text {
  color: white; /*skriftsfärg*/
  font-family: "Courier New", Courier, monospace; /*teckensnitt*/
  font-size: 15px; /*skriftsstorlek*/
}
.clear {
  /*används för 960GS-layout*/
  clear: both; /*inga element på vänster eller höger sida*/
  display: block; /*elementet börjar på en ny rad och tar helt utrymme*/
  overflow: hidden; /*ingen overflow*/
  visibility: hidden; /*man kan inte se elementet, men elementet tar helt utrymme*/
  width: 0; /*bredd*/
  height: 0; /*längd*/
}

@media (max-width: 600px) {
  body {
    width: 90%; /*bredd av webbsidan på smartphones*/
  }
  header {
    height: 100px; /*storleken av bilden i header*/
  }
  h1 {
    font-size: 200%; /*storleken av rubrik*/
  }
  nav {
    font-weight: normal; /*utan fet text*/
  }
  li {
    font-size: 20px; /*skriftsstorlek av navigation*/
    padding: 10px; /*utrymme mellan länkar*/
  }
  section {
    float: none; /*elementet har ingen bestämd plats på webbsidan*/
  }
  #mainpicture {
    margin-top: -15%;
  }
  #introduktion {
    font-size: 15px; /*skriftsstorlek av texten*/
    margin-right: 20px;
    margin-top: -12%;
  }
  #footer_text {
    font-size: 11px; /*skriftsstorlek av texten i footer*/
  }
  .article_text {
    font-size: 13px; /*skriftsstorlek av rubriker under små bilder*/
  }
}
/*media-queries hjälper sidans utseende på ett annat enhet. Här för smartphones.*/
/*dator först*/
@media screen and (min-width: 280px) {
  li {
    display: grid;
  }
}
@media screen and (min-width: 768px) {
  li {
    display: inline-block;
  }
}
